<!doctype html>
<html lang="id">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Samakan | Credits</title>
</head>
<body>
	<header>
		<h2><a href="./index.html">SAMAKAN</a></h2>
		<nav>
			<h5><a href="./rencana.html">RENCANA</a></h5>
			<h5><a href="./resep.html">RESEP</a></h5>
			<h5><a href="./credits.html">CREDITS</a></h5>
		</nav>
		<p>Masak dan makan enak tiap hari dengan menu beda.</p>
	</header>
	<hr>
	<main>
		<h4>Credits</h4>
		<p>Atribusi atas jadinya proyek ini :</p>
		<ul>
			<li><a href="https://www.npmjs.com/">NPM</a></li>
			<li><a href="https://nodejs.org/en/">Node</a></li>
			<li><a href="https://www.npmjs.com/package/eslint">Eslint</a></li>
			<li><a href="https://www.npmjs.com/package/axios">Axios</a></li>
			<li><a href="https://www.dicoding.com/">Dicoding</a></li>
			<li><a href="https://www.npmjs.com/package/stylelint">StyleLint</a></li>
			<li><a href="https://www.npmjs.com/package/webpack">Webpack</a></li>
			<li><a href="https://restdb.io/">Restdb.io</a></li>
			<li><a href="https://favicon.io/">Favicon.io</a></li>
			<li><a href="https://www.w3schools.com/">W3Schools</a></li>
			<li><a href="https://github.com/oxalorg/sakura">Sakura.css</a></li>
			<li><a href="https://sweetalert2.github.io/">Sweat Alert 2</a></li>
			<li><a href="https://fonts.google.com/">Google Fonts</a></li>
			<li><a href="https://stackoverflow.com/">StackOverFlow</a></li>
			<li><a href="https://developer.mozilla.org/en-US/">MDN Mozilla Firefox</a></li>
			<li><a href="https://github.com/tomorisakura/unofficial-masakapahariini-api">API Unofficial MasakApaHariIni</a></li>
			<li>Dan lain-lainnya yang belum/tidak tertulis.</li>
		</ul>
	</main>
</body>
</html>
