@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: 'Open Sans';
    src: url('../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: Inconsolata;
    src: url('../assets/fonts/Inconsolata-Regular.ttf');
}